body {
  background: white;
  font-family: Roboto;
  color: #333;
}

nav ul li a, 
footer ul li a, 
a {
  color: #333;
}

p {
  color: #333;
}

span.color {
  color: #ff3366;
}

.wrapper {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}
