body {
  background: grey;
  font-family: century gothic;
}

nav ul li a, 
footer ul li a, 
a {
  color: #ffffff;
}

p {
  color: white;
}

.wrapper {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}
